[Desktop Entry]
Version=1.0
Type=Application
Name=Tatogirl 
Comment=3 Style for XFCE Desktop
Exec=/usr/share/archcraft/styles/Tatogirl.sh
Icon=gtk-theme-config
Path=
Terminal=false
StartupNotify=false
