[Desktop Entry]
Version=1.0
Type=Application
Name=Darkknight
Comment=Darkknight
Exec=/usr/share/amos/styles/Darkknight.sh
Icon=/usr/share/icons/AmOs/actions/24/channelmixer.svg
Path=
Terminal=false
StartupNotify=false
