[Desktop Entry]
Version=1.0
Type=Application
Name=City
Comment=City
Exec=/usr/share/amos/styles/City.sh
Icon=/usr/share/icons/AmOs/actions/24/channelmixer.svg
Path=
Terminal=false
StartupNotify=false
