[Desktop Entry]
Version=1.0
Type=Application
Name=Desert
Comment=Desert
Exec=/usr/share/amos/styles/Desert.sh
Icon=/usr/share/icons/AmOs/actions/24/channelmixer.svg
Path=
Terminal=false
StartupNotify=false
