[Desktop Entry]
Version=1.0
Type=Application
Name=Mountain
Comment=Mountain
Exec=/usr/share/amos/styles/Mountain.sh
Icon=/usr/share/icons/AmOs/actions/24/channelmixer.svg
Path=
Terminal=false
StartupNotify=false
