[Desktop Entry]
Version=1.0
Type=Application
Name=Sunset
Comment=Sunset
Exec=/usr/share/amos/styles/Sunset.sh
Icon=/usr/share/icons/AmOs/actions/24/channelmixer.svg
Path=
Terminal=false
StartupNotify=false
