[Desktop Entry]
Version=1.0
Type=Application
Name=15
Comment=15
Exec=/usr/share/amos/styles/15.sh
Icon=/usr/share/icons/AmOs/actions/24/channelmixer.svg
Path=
Terminal=false
StartupNotify=false
