[Desktop Entry]
Version=1.0
Type=Application
Name=083
Comment=083
Exec=/usr/share/amos/styles/83.sh
Icon=/usr/share/icons/AmOs/actions/24/channelmixer.svg
Path=
Terminal=false
StartupNotify=false
