[Desktop Entry]
Version=1.0
Type=Application
Name=Arch
Comment=Arch
Exec=/usr/share/amos/styles/Arch.sh
Icon=/usr/share/icons/AmOs/actions/24/channelmixer.svg
Path=
Terminal=false
StartupNotify=false
