[Desktop Entry]
Version=1.0
Type=Application
Name=Apple
Comment=Apple
Exec=/usr/share/amos/styles/Apple.sh
Icon=/usr/share/icons/AmOs/actions/24/channelmixer.svg
Path=
Terminal=false
StartupNotify=false
