[Desktop Entry]
Version=1.0
Type=Application
Name=Starwars
Comment=Starwars
Exec=/usr/share/amos/styles/Starwars.sh
Icon=/usr/share/icons/AmOs/actions/24/channelmixer.svg
Path=
Terminal=false
StartupNotify=false
