[Desktop Entry]
Version=1.0
Type=Application
Name=Tie
Comment=Tie
Exec=/usr/share/amos/styles/Tie.sh
Icon=/usr/share/icons/AmOs/actions/24/channelmixer.svg
Path=
Terminal=false
StartupNotify=false
