[Desktop Entry]
Version=1.0
Type=Application
Name=Reddune
Comment=Reddune
Exec=/usr/share/amos/styles/Reddune.sh
Icon=/usr/share/icons/AmOs/actions/24/channelmixer.svg
Path=
Terminal=false
StartupNotify=false
